  <footer>
  {{ partial "foot_custom.html" . }}
  {{ partial "footer_highlightjs" . }}
  {{ with .Site.Params.footer }}
  <hr>
  <div class="copyright">{{ replace . "{Year}" now.Year | markdownify }} </div>
  {{ end }}
  <hr>
  <div class="copyright">
    <a href="https://humanitycertified.org"><img src="https://humanity-certified-site.pages.dev/assets/logo-no-background.png" width="180"></a>
  </div>
  </footer>
  </article>
  {{ template "_internal/google_analytics.html" . }}
  </body>
</html>
